@font-face {
  font-family: "Josefin Sans";
  src: url("./Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("./Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("./Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding-block: 2em;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.7;
  text-align: center;
}

img {
  min-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}



.container{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.logo{
  padding-inline-start: 2em;
  max-width: 40px;
}

.info{
  padding-block: 1.5em;
  padding-inline: 1.1em;
}


.info h2{
  letter-spacing: 4px;
  line-height: 1.2;
  margin-block-end: 1em;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  color: hsl(0, 6%, 24%);
}

.info h2 > span{
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

.info p{
  color:hsl(0, 36%, 70%);
}


.form__container{
  position: relative;
  min-width: 90%;
  margin-inline: auto;
}



.form__container input{
  width: 100%;
  padding: 1em;
  border-radius: 50px;
  border-radius: 1px solid;
  border: 1px solid hsl(0, 36%, 70%);
}

.form__container input::placeholder{
   color:hsl(0, 36%, 70%);
}


.form__container button{
  cursor: pointer;
  position: absolute;
  height: 100%;
  border:none;
  right: 0px;
  padding-inline: 2.5em;
  border-radius: 50px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%),  hsl(0, 74%, 74%)) ;
}


.form__container button:hover{
  opacity: 0.7;
}




