@font-face {
  font-family: "Josefin Sans";
  src: url("./Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("./Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("./Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  
  padding-block-start: 2em;
  padding-block-end: 5em;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.7;
  text-align: center;
}

img {
  min-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.logo {
  max-width: 200px;
  padding-inline-start: 1em;
}

.info {
  padding-block: 1.5em;
  padding-inline: 1.1em;
}

.info h2 {
  letter-spacing: 4px;
  line-height: 1.2;
  margin-block-end: 1rem;
  text-transform: uppercase;
  font-size: clamp(2.5rem, 0.938rem + 4.167vw, 4.688rem);
  font-weight: 600;
  color: hsl(0, 6%, 24%);
}

.info h2 > span {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

.info p {
  margin-block-end: 2em;
  color: hsl(0, 36%, 70%);
}

.form__container {
  position: relative;
  min-width: 90%;
  margin-inline: auto;
  display:flex;
  align-items: center;

}

.form__container input {
  width: 100%;
  padding: 1em;
  border-radius: 50px;
  border: 1px solid hsl(0, 36%, 70%);
}

.form__container input::placeholder {
  color: hsl(0, 36%, 70%);
}

.form__container button {
  cursor: pointer;
  position: absolute;
  height: 100%;
  border: none;
  top: 0px;
  right: 0px;
  padding-inline: 2.5em;
  border-radius: 50px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11);
  transition: 0.2s ease-in;
}

.form__container button:hover {
  opacity: 0.7;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11)
}

.lady-desktop {
  display: none;
}

input:focus{
  outline: ;
}

.error{
  display: none;
}

.form__container .error.active {
  display:block;
  position: absolute;
  right: 7rem;
  bottom: 0.35rem;
  font-size: 0.75rem;
  pointer-events: none;
}

@media screen and (min-width: 43.75rem) {
  body{
    background-image: url("./base-apparel-coming-soon-master/images/bg-pattern-desktop.svg");
    padding-block: 0;
    text-align: left;
    }
  .container {
    min-height: 100vh;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    margin-left: auto;
  }

  .sub__container{
    padding-block-start: 3em;
    display:flex;
    flex-direction: column;
  }

  .info{
    margin-block-start: 2em;
    padding: 0;
  }

  .lady {
    display: none;
  }

  .lady-desktop{
    display:block;
    height: 100%
  }

  .logo{
    padding-inline: 0;
    margin-block-end: 5em;
  }



  .wrapper{
    max-width: 500px;
  }


}
